<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="DotaCLPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/dotachile</jta-data-source>
    <class>com.dotachile.auth.entity.Ban</class>
    <class>com.dotachile.auth.entity.BanHistory</class>
    <class>com.dotachile.comentarios.Comentario</class>
    <class>com.dotachile.encuestas.entity.Encuesta</class>
    <class>com.dotachile.auth.entity.Grupo</class>
    <class>com.dotachile.media.Imagen</class>
    <class>com.dotachile.encuestas.entity.OpcionEncuesta</class>
    <class>com.dotachile.auth.entity.Perfil</class>
    <class>com.dotachile.auth.entity.PreRegistro</class>
    <class>model.entities.base.Replay</class>
    <class>com.dotachile.noticias.entity.Categoria</class>
    <class>com.dotachile.noticias.entity.Noticia</class>
    <class>model.entities.torneos.Ladder</class>
    <class>model.entities.torneos.Ronda</class>
    <class>model.entities.torneos.TemporadaModificacion</class>
    <class>model.entities.torneossingle.RondaSingle</class>
    <class>model.entities.torneossingle.SingleMatch</class>
    <class>model.entities.torneossingle.TorneoSingle</class>
    <class>com.dotachile.clanes.entity.Clan</class>
    <class>com.dotachile.clanes.entity.ClanBan</class>
    <class>com.dotachile.clanes.entity.Confirmacion</class>
    <class>com.dotachile.media.Movimiento</class>
    <class>com.dotachile.auth.entity.Usuario</class>
    <class>model.entities.torneos.Desafio</class>
    <class>model.entities.torneos.Game</class>
    <class>model.entities.torneos.GameMatch</class>
    <class>model.entities.torneos.Modificacion</class>
    <class>model.entities.torneos.Torneo</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <shared-cache-mode>ALL</shared-cache-mode>
    <properties>
      <!--<property name="eclipselink.profiler" value="QueryMonitor"/>-->
      <!--<property name="eclipselink.profiler" value="PerformanceProfiler" />-->
      <property name="eclipselink.ddl-generation" value="create-tables"/>
    </properties>
  </persistence-unit>
</persistence>
